<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Emir Cem Gezer
    Email: emircem@uri.edu;emircem.gezer@gmail.com
    Year: 2022

    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<scenario>
    <looks>
        <look name="black" gray="0.1" roughness="0.3"/>
        <look name="orange" rgb="1.0 0.25 0.0" roughness="0.3"/>
        <look name="yellow" rgb="1.0 0.9 0.0" roughness="0.3"/>
        <look name="blue" rgb="0.39 0.58 0.93" roughness="0.3"/>
        <look name="red" rgb="0.9 0.1 0.1" roughness="0.3"/>
        <look name="gray" gray="0.5" roughness="0.4" metalness="0.5"/>
        <look name="tank" rgb="0.9 0.9 0.9" roughness="0.9"/>
        <look name="duct" gray="0.1" roughness="0.4" metalness="0.5"/>
        <look name="green" rgb="0.0 1.0 0.0" roughness="0.5" metalness="0.1"/>
        <look name="white" gray="0.95" roughness="0.2"/>
        <look name="buoy" gray="1.0" roughness="0.4" texture="$(find tardigrade)/data/buoy_tex.png"/>
        <look name="gate" gray="1.0" roughness="0.4" texture="$(find tardigrade)/data/gate_tex.png"/>
        <look name="path" gray="1.0" roughness="0.4" texture="$(find tardigrade)/data/path_tex.png"/>
    </looks>
</scenario>