<?xml version="1.0"?>
<!--
    This file is part of the URI Hydrobotics PreReg software.

    Author: Devin Hunsberger
    Email: dhunsberger@uri.edu
    Year: 2024
-->
<launch>
    <param name="use_sim_time" type="boolean" value="true"/>

    <arg name="scenario" default="preregistration_env"/>

    <arg name="robot_name" default="tardigrade"/>

    <arg name="simulation_data" default="$(find preregistration_pkg)/data"/>
    <arg name="simulation_rate" default="500.0"/>
    <arg name="graphics_resolution_width" default="1200"/>
    <arg name="graphics_resolution_height" default="800"/>
    <arg name="graphics_quality" default="low"/>

    <node
        name="stonefish_simulator"
        pkg="stonefish_mvp"
        type="parsed_simulator"
        args="-d $(arg simsulation_data)
              -r $(arg simulation_rate)
              -w $(arg graphics_resolution_width)
              -h $(arg graphics_resolution_height)
              -n $(arg graphics_quality)"
        output="screen">
    </node>

</launch>