<?xml version="1.0"?>
<!--
    Author: Devin Hunsberger
    Email: dhunsberger@uri.edu
    Year: 2023
    Copyright (C) 2022 Smart Ocean Systems Laboratory
-->
<scenario xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename = "$(find prequal)/metadata/looks.scn.xacro"/>
    <xacro:include filename = "$(find prequal)/metadata/materials.scn.xacro"/>

	<xacro:macro name = "tardigrade" params = "xyz rpy robot_name">
	
	<!--Shell Generator-->
		<robot name = "${robot_name}" fixed = "false" self_collisions = "false">
			
			<base_link name = "Vehicle" type = "compound" physics = "submerged">
				
				<external_part name="Hull" type = "model" physics = "submerged" bouyant = "false">
					<physical>
						<mesh filename = "parts/tardigrade_reduced.obj" scale = "0.001"/>
						<origin rpy = "4.7124 0.0 -1.571" xyz = "0.0 0.0 0.0"/>
					</physical>
					<visual>
						<mesh filename = "parts/tardigrade_reduced.obj" scale = "0.001"/>
						<origin rpy="4.7124 0.0 -1.571" xyz = "0.0 0.0 0.0"/>
					</visual>
					<material name = "Vehicle"/>
					<look name = "yellow"/>
					<mass value = "30"/>
					<inertia xyz = "0.0 0.0 0.0"/>
					<compound_transform rpy = "0.0 0.0 0.0" xyz = "0.0 0.0 0.0"/>
					<cg xyz = "0.0 0.0 0.0" rpy = "0.0 0.0 0.0"/>
				</external_part>
				<!--
				<external_part name = "Foam" type = "cylinder" physics = "surface" bouyant = "true">
					<dimensions radius = "0.1" height = "0.1"/>
					<origin xyz = "-0.2 0.0 0.0" rpy = "0.0 0.0 0.0"/>
					<material name = "Foam"/>
					<mass value = "1.5"/>
					<look name = "grey"/>
					<compound_transform rpy = "0.0 0.0 0.0" xyz = "0.0 0.0 0.0"/>
				</external_part>
				-->
				</base_link>
					
					<link name = "Base" type = "box" physics = "submerged">
						<dimensions xyz = "0.01 0.01 0.01"/>
						<origin xyz = "0.0 0.0 0.0" rpy = "0.0 0.0 0.0"/>
						<material name = "Neutral"/>
						<look name = "Green"/>
					</link>

					<joint name = "Joint1" type = "fixed">
						<parent name = "Vehicle"/>
						<child name = "Base"/>
						<origin xyz = "0.0 0.0 0.0" rpy = "0.0 0.0 0.0"/>
						<axis xyz = "0.0 0.0 0.0"/>
					</joint>

					<actuator name = "BowPortHeave" type = "thruster">
						<link name = "Base"/>
						<origin rpy = "0.0 1.571 0.0" xyz = "0.197 0.0996 0.0"/> 
						<specs thrust_coeff="0.4315" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/> 
						<propeller diameter = "0.1" right = "true">
							<mesh filename = "parts/thruster.obj" scale = "1.0"/>
							<material name = "Neutral"/>
							<look name = "blue"/>
						</propeller>
						<ros_subscriber topic = "/${robot_name}/control/thruster/bow_port_heave"/>
					</actuator>

					<actuator name = "BowStarboardHeave" type = "thruster">
						<link name = "Base"/>
						<origin rpy = "0.0 1.571 0.0" xyz = "0.197 -0.0996 0.0"/> 
						<specs thrust_coeff="0.4315" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/> 
						<propeller diameter = "0.1" right = "true">
							<mesh filename = "parts/thruster.obj" scale = "1.0"/>
							<material name = "Neutral"/>
							<look name = "red"/>
						</propeller>
						<ros_subscriber topic = "/${robot_name}/control/thruster/bow_starboard_heave"/>
					</actuator>		

					<actuator name = "SternHeave" type = "thruster">
						<link name = "Base"/>
						<origin rpy = "0.0 1.571 0.0" xyz = "-0.22945 0.0 0.0"/> 
						<specs thrust_coeff="0.4315" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/> 
						<propeller diameter = "0.1" right = "true">
							<mesh filename = "parts/thruster.obj" scale = "1.0"/>
							<material name = "Neutral"/>
							<look name = "green"/>
						</propeller>
						<ros_subscriber topic = "/${robot_name}/control/thruster/stern_heave"/>
					</actuator>		
            
					<actuator name = "Yaw" type = "thruster">
						<link name = "Base"/>
						<origin rpy = "0.0 0.0 1.571" xyz = "0.3048 -0.0045 0.0"/> 
						<specs thrust_coeff="0.4315" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/> 
						<propeller diameter = "0.1" right = "true">
							<mesh filename = "parts/thruster.obj" scale = "1.0"/>
							<material name = "Neutral"/>
							<look name = "grey"/>
						</propeller>
						<ros_subscriber topic = "/${robot_name}/control/thruster/yaw"/>
					</actuator>

					<actuator name = "PortSurge" type = "thruster">
						<link name = "Base"/>
						<origin rpy = "0.0 0.0 -0.5236" xyz = "-0.3048 -0.1318 0.0"/> 
						<specs thrust_coeff="0.4315" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/> 
						<propeller diameter = "0.1" right = "true">
							<mesh filename = "parts/thruster.obj" scale = "1.0"/>
							<material name = "Neutral"/>
							<look name = "black"/>
						</propeller>
						<ros_subscriber topic = "/${robot_name}/control/thruster/port_surge"/>
					</actuator>
					
					<actuator name = "StarboardSurge" type = "thruster">
						<link name = "Base"/>
						<origin rpy = "0.0 0.0 0.5236" xyz = "-0.3048 0.1318 0.0"/> 
						<specs thrust_coeff="0.4315" thrust_coeff_backward="0.3404" torque_coeff="0.01" max_rpm="3000.0"/> 
						<propeller diameter = "0.1" right = "true">
							<mesh filename = "parts/thruster.obj" scale = "1.0"/>
							<material name = "Neutral"/>
							<look name = "yellow"/>
						</propeller>
						<ros_subscriber topic = "/${robot_name}/control/thruster/starboard_surge"/>
					</actuator>
					
					<sensor name="IMU" type="imu" rate="20.0">
						<link name="Base"/>
						<origin rpy = "0.0 0.0 0.0" xyz = "0.0 0.0 0.0"/>
						<noise angle="0.0 0.0 0.0" angular_velocity="0.0" yaw_drift="0.0" linear_acceleration="0.0"/>
						<ros_publisher topic="/${robot_name}/imu/stonefish/data"/>
					</sensor>

					<sensor name="CameraFront" rate="10.0" type="camera">
						<specs resolution_x="1920" resolution_y="1080" horizontal_fov="150"/>
						<origin rpy="4.7124 0.0 -1.571" xyz="0.355749 0.0 -0.139725"/>
						<link name="Base"/>
						<ros_publisher topic="/${robot_name}/camera/stonefish/front/data"/>
					</sensor>

					<sensor name="CameraTop" rate="10.0" type="camera">
						<specs resolution_x="640" resolution_y="480" horizontal_fov="180"/>
						<origin rpy="4.7124 3.1416 -1.571" xyz="0.0 0.0 1.5"/>
						<link name="Base"/>
						<ros_publisher topic="/${robot_name}/camera/stonefish/top/data"/>
					</sensor>
			<world_transform rpy="${rpy}" xyz="${xyz}"/>
        </robot>
    </xacro:macro>
</scenario>