<?xml version="1.0"?>
<!--
    This file is part of the URI Hydrobotics RoboSub2024 software.

    Author: Devin Hunsberger
    Email: dhunsberger@uri.edu
    Year: 2024
-->
<launch>
    <!--Runs on the Raspberry Pi's USB ports, we search for the serial number just incase rather than just using the COM port-->
    <include file = "$(find sensors)/launch/echosounder.launch">
        <arg name = "name" value = "front_echosounder"/>
        <arg name = "serial_number" value = ""/>
        <arg name = "port" value = "/dev/ttyUSB0"/>
    </include>

    <include file = "$(find sensors)/launch/echosounder.launch">
        <arg name = "name" value = "down_echosounder"/>
        <arg name = "serial_number" value = ""/> 
        <arg name = "port" value = "/dev/ttyUSB1"/>
    </include>

    <!--Runs over TX RX UART channel-->
    <include file = "$(find sensors)/launch/bno055.launch"></include>
</launch>

