<?xml version="1.0"?>
<!--
    This file is part of the URI Hydrobotics RoboSub2024 software.

    Author: Devin Hunsberger
    Email: dhunsberger@uri.edu
    Year: 2024
-->
<launch>
    <arg name = "is_sim" default = "true"/>
    <arg name = "port"  default = "/dev/ttyACM0"/>
    <arg name = "baudrate" default = "115200"/>


    <node pkg = "tardigrade" type = "cmd_vel_to_thruster.py" name = "cmd_vel_to_thruster"/>

    <include file = "$(find pico_controller)/launch/pico_controller.launch">
        <arg name = "is_sim" value = "$(arg is_sim)"/>
        <arg name = "port" value = "$(arg port)"/>
    </include>

    <node pkg = "tardigrade" type = "test_thrusters.py" name = "test_thrusters"/>
</launch>